@using MyBlog.Dto
@model List<CategoryListDto>
@{
    Layout = null;
}

<table>
    <tr>
        <th>Id</th>
        <th>Adı</th>
        <th>Durumu</th>
    </tr>
    @foreach (var item in Model)
    {
        <td>@item.Id</td>
        <td>@item.CategoryName</td>
        <td>@item.CategoryDescription</td>
    }
</table>